@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #07074E;
  color: #07074E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #f9fbfc;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea,
#formatted_string {
  padding: 10px;
  width: 100%;
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

textarea {
  height: 150px; /* Ajuste a altura conforme necessário */
}

#formatted_string {
  max-height: 200px; /* Limita a altura máxima do campo */
  background-color: #f9f9f9;
}

.botoes {
  display: flex;
  gap: 1em;
  margin-top: 10px;
}

button {
  --primary-color: #00AE97;
  --secondary-color: #f9fbfc;
  --hover-color: #008f7c;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  transition: 0.2s background;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.formatados {
  display: none;
  width: 100%;
  max-width: 100%; /* Garantir que o texto não ultrapasse os limites */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formatados.ativo {
  display: flex;
}

#copyButton {
  margin-top: 10px;
  background-color: #00AE97;
  color: #f9fbfc;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#copyButton:hover {
  background-color: #008f7c;
}

.historico {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.historico-buttons {
  display: flex;
  gap: 10px;
}

.historico-buttons button {
  background-color: #00AE97;
  color: #f9fbfc;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.historico-buttons button:hover {
  background-color: #008f7c;
}
